<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <%- style %>
  </head>

  <body>
    <div><%- include('_header'); %></div>
    <div id="body"><%- body %></div>
    <div><%- include('_footer'); %></div>
    <%- script%>
  </body>
</html>
