<link rel="stylesheet" href="/css/user_profile.css" />
<h1>Codeial/ User <%= title %></h1>

<img src="<%=user.avatar %>" alt="<%=user.name%>" width="100" />
<% if(user.id == profile_user.id) {%>
<form
  action="/users/update/<%= profile_user.id %>"
  enctype="multipart/form-data"
  method="post"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="text"
    name="email"
    placeholder="Your Email"
    value="<%= profile_user.email %>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile Picture" />
  <input type="submit" value="update" />
</form>

<% }else{ %>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<a
  id="toggle-friendship-button"
  href="/friendships/make/:<%=profile_user._id%>"
>
  Add friend
</a>

<% } %>

<script>
  const toggleButton = document.getElementById("toggle-friendship-button");
  const href = toggleButton.getAttribute("href");

  toggleButton.addEventListener("click", (e) => {
    e.preventDefault();
    // Make an AJAX request to toggle the friendship status
    $.ajax({
      url: href,
      type: "POST",
      success: function (data) {
        // Do something with the response data
        if (data.data.deleted == false) {
          toggleButton.innerText = "Remove Friend";
        } else {
          toggleButton.innerHTML = "Add Friend";
        }
      },
      error: function (error) {
        console.error(error);
      },
    });
  });
</script>
